.custom-button {
  background-color:rgba(68, 97, 242, 1);
  color: rgba(255, 255, 255, 1);
  border: none;
  border-radius: 20px;
  display: block;
  margin: auto;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
  padding: 16px;
  width: 100%;
  box-shadow: 0px 18px 30px 0px rgba(47, 28, 28, 0.1);
}
