/* العنصر الافتراضي */
::ng-deep .p-password.border-blue_color {
  display: flex;
  align-items: center;
  border: 1px solid #3b82f6;
  border-radius: 10px;
  background-color: #f9f9f9;
  width: 100%;
  height: 51px;
  box-sizing: border-box;
}

/* حالة الخطأ */
::ng-deep .p-password.border-danger_color {
  display: flex;
  align-items: center;
  border: 1px solid red !important;
  border-radius: 10px;
  background-color: #f9f9f9;
  width: 100%;
  height: 51px;
  box-sizing: border-box;
}

/* input داخل الحقل */
.password-input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  background-color: transparent;
  padding: 0 10px;
  font-size: 16px;
  color: #333;
}

.password-input::placeholder {
  color: #a1a4a9;
  font-weight: 500;
}

.error-box {
  color: red;
  font-size: 14px;
  margin-top: 4px;
}

::ng-deep .p-password-input{
        background-color: #f9f9f9;
    width: 100%;
    height: 45px;
    padding: 10px;
}