<section>
    <app-header-dashboard></app-header-dashboard>
    <div class="mt-10">
        <h1 class="text-black_light font-medium text-[18px]  mb-6">Front-End Quiz</h1>
        <div class="cards-container">
            @if(exams.length>0){
            @for(exam of exams;track exam;){
            <div class="card">
                <div class="card-left">
                    @if (loading) {
                    <p-skeleton height="8rem" borderRadius="16px" />}
                    @else{
                    <div class="icon">
                        {{ exam.title.charAt(0) }}
                    </div>
                    }
                    <div class="info">
                        @if (loading) {
                        <p-skeleton height="8rem" borderRadius="16px" />}
                        @else{
                        <h3>{{ exam.title }}</h3>}
                        @if (loading) {
                        <p-skeleton height="8rem" borderRadius="16px" />}
                        @else {
                        <p>{{ exam.numberOfQuestions }} Question</p>
                        }
                    </div>
                </div>

                <div class="card-right">
                    @if (loading) {
                    <p-skeleton height="8rem" borderRadius="16px" />}
                    @else {
                    <span class="time">{{ exam.duration }} Minutes</span>}
                    <button class="start-btn" (click)="openDialog(exam._id)">Start</button>
                </div>
            </div>
            }
            }
            @else {
            <p-progressSpinner class="m-auto" ariaLabel="loading" />
            }
        </div>

    </div>
</section>

<app-start-quiz-dialog [(visible)]="showDialog" (start)="startExam()"></app-start-quiz-dialog>

<app-quiz-question [(visible)]="showQuizModal" [questionText]="questions[currentIndex]?.text"
    [options]="questions[currentIndex]?.answers" [currentQuestion]="currentIndex + 1" [totalQuestions]="totalQuestions"
    [timeRemaining]="timeRemainingInSeconds" (optionSelect)="onSelectAnswer($event)" (next)="goNext()"
    (back)="goBack()"></app-quiz-question>