<section>
  <app-header-dashboard></app-header-dashboard>
  <div class="mt-10">
    <h1 class="text-black_light font-medium text-[18px] mb-6">Front-End Quiz</h1>

    <div class="cards-container">
      <ng-container *ngIf="!loading; else loadingTemplate">
        <div class="card" *ngFor="let exam of exams; trackBy: trackByExam">
          <div class="card-left">
            <div class="icon">{{ exam.title.charAt(0) }}</div>
            <div class="info">
              <h3>{{ exam.title }}</h3>
              <p>{{ exam.numberOfQuestions }} Question</p>
            </div>
          </div>

          <div class="card-right">
            <span class="time">{{ exam.duration }} Minutes</span>
            <button class="start-btn" (click)="openDialog(exam._id)">Start</button>
          </div>
        </div>
      </ng-container>

      <ng-template #loadingTemplate>
        <p-progressSpinner class="m-auto" ariaLabel="loading"></p-progressSpinner>
      </ng-template>
    </div>
  </div>
</section>

<app-start-quiz-dialog [visible]="showDialog" (start)="startExam()"></app-start-quiz-dialog>

<app-quiz-question
  [visible]="showQuizModal"
  [questionText]="questions[currentIndex]?.text"
  [options]="questions[currentIndex]?.answers"
  [currentQuestion]="currentIndex + 1"
  [totalQuestions]="totalQuestions"
  [timeRemaining]="timerDisplay"
  (optionSelect)="onSelectAnswer($event)"
  (next)="goNext()"
  (back)="goBack()">
</app-quiz-question>
