:host {
  display: block;
  min-height: 100vh;
}
// ::ng-deep .p-tabview .p-tabview-nav {
//   justify-content: center;
//   border: none;
// }
::ng-deep .p-tabview-nav{
  display: flex;
}
::ng-deep .p-dropdown{
  display: flex;
  align-items: center;
}