@tailwind base;
@tailwind components;
@tailwind utilities;

@import "primeng/resources/themes/lara-light-blue/theme.css"; 
@import "primeng/resources/primeng.min.css";
@import "primeicons/primeicons.css";

body {
  font-family: 'Poppins', sans-serif;
  background-color: white;
}

* {
  font-family: 'Poppins', sans-serif;
}

.slider {
  background: #F0F4FC;
  box-shadow: 0px 5px 100px 0px #0000001A;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  height: 100vh;
}

.slider-content {
  padding-top: 70px;
  padding-right: 79px;
  padding-bottom: 60px;
  padding-left: 172px;
}

.main-header {
  color: #000000;
  font-weight: 700;
  font-size: 50px;
  line-height: 150%;
}
.header_form{
  color: rgba(0, 0, 0, 1);
  font-weight: 700;
  font-size: 22px;

}
.hinit{
  color: rgba(68, 97, 242, 1);
  font-weight: 400;
  font-size: 16px;

}
.border{
  border: 1.02px solid rgba(231, 231, 231, 1);
  width: 30%;
  height: 1px;
}

.center_border{
  display: flex;
  align-items: center;
  color: rgba(108, 115, 127, 1);
  font-size: 16px;
  font-weight: 400;
  justify-content: center;

}
.center_border img{
  width: 65px;
  height: 66px;
}

.tab-title {
  color: rgba(68, 97, 242, 1);
  font-weight: 700;
  font-size: 20px;
  padding: 12px 16px;
  border-radius: 12px;
  transition: all 0.2s ease-in-out;
}

.p-tabview .p-tabview-nav li.p-highlight .tab-title {
  color: rgba(68, 97, 242, 1);
  font-weight: 400;
  border: 1px solid rgba(224, 224, 233, 1);
  background-color: #fff;
}

.flex.items-center.gap-2 p-dropdown {
  min-width: 120px;
}

.p-tabview-panels{
  display: none;
}