.container-list{
    //  height: 100vh;
    padding: 24px;
    background: white;
    box-shadow: 0px 5px 100px 0px #0000001a;
}
:host{
    overflow-y: hidden;
}

.warning_button  {
    width: 100%;
   background-color: #FEF2F2 !important;
   color: #DC2626 !important;
   border-radius: 0 !important;
   border-radius:0 ;
   -webkit-border-radius:0 ;
   -moz-border-radius:0 ;
   -ms-border-radius:0 ;
   -o-border-radius:0 ;
}